/* --Home page -- */
@import url('https://fonts.googleapis.com/css?family=Lato:700|Raleway:400');
body {
    font-family: 'Raleway';
    font-weight: 400;
    background-color: #fbfbfe;

}

h1, h2, h3, h4, h5 {
    font-family: 'Lato';
    font-weight: 700;
}

html {
    font-size: 100%;
} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* -- Navigation bar -- */
#logo{
    height: 50px;
    padding-left: 70px;
    padding-right: 70px;
    float: left;
}
ul{
    margin: 0;
    padding: 12px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid gray;
    list-style-type: none;
}
li{
    float: left;
}  
li a{
    display: flex;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;

}
li a:hover{
    color: darkgray;
}
#sign-up{
    background-color: #8bc34b;
    border-radius: 10px;
}
/*--Footer--*/
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid gray;
    background-color: white;
    color: #040316;
    padding-top: 15px;
}
.footer-banner{
    padding-top: 40px;
}
.footer-links{
    display: grid;
    gap: 8px;
}
.newsletter input[type = email]{
    font-size: larger;
    border: 1px solid;
}
.newsletter button{
    border-radius: 1px;
    padding: 5px;
    text-decoration: none;
    background-color: gray;
    color: #040316;
    border: none;
}