/* --Home page -- */
@import url('https://fonts.googleapis.com/css?family=Lato:700|Raleway:400');
body {
    font-family: 'Raleway';
    font-weight: 400;
    background-color: #fbfbfe;

}

h1, h2, h3, h4, h5 {
    font-family: 'Lato';
    font-weight: 700;
}

html {
    font-size: 100%;
} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* -- Navigation bar -- */
#logo{
    height: 50px;
    padding-left: 70px;
    padding-right: 70px;
    float: left;
}
ul{
    margin: 0;
    padding: 12px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid gray;
    list-style-type: none;
}
li{
    float: left;
}  
li a{
    display: flex;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;

}
li a:hover{
    color: darkgray;
}
#sign-up{
    background-color: #8bc34b;
    border-radius: 10px;
}
#log-out{
    background-color: #f7f7f7;
    border-radius: 10px;
}
#log-out:hover{
    background-color: #ff5252;
    color: white;
    box-shadow: #fda4a4 0px 4px;
}

/*--About page--*/
.heading{
    text-align: center;
    background-color: #648063;
    color: white;
    padding: 1px;
    size: 90px;
}
/*--Services page--*/
.services-training{
    margin-top: 50px;
    margin-left: 170px;
    display: flex;

}
.services-training img{
    height: 351px;
    width: 482;
}
.training{
    margin-left: 120px;
    width: 50%;
    margin-top: 10px;
}

.services-courses{
    margin-left: 170px;
    width: 80%;
}

.services-courses img{
    width: 274px;
    height: 156px;
    border-radius: 8px;
}
.courses{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.course-1{
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 28%;
    padding: 25px;
}

.services-installation{
    margin-left: 170px;
    display: flex;
    margin-bottom: 40px;
}
.installation{
    width: 40%;
}
.performance{
    width: 40%;
    margin-left: 200px;
}

ol li{
    padding: 5px;
}
/*--Log in--*/
.sign_in{
    border: 1px solid #D9D9D9;
    margin-top: 40px;
    padding: 50px;
    background-color: white;
    height: 515px;
    margin-bottom: 40px;
}
form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 900px;
    min-width: 320px;
    height: 720px;
    left: calc(50% - 790px/2);
    margin: 5px;
    border-radius: 8px;
    margin-bottom: 40px;
}
.sign_in input[type=email]{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.sign_in input[type=password]{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    width: 100%;
}
.login-button{
    width: 70%;
    color: white;
    background-color: #040316;
    padding: 6px;
    border-radius: 8px;
    margin-top: 30px;
    align-self: center;
}
.form-links a{
    display: flex;
    flex-direction: column;
    border-bottom: none;
    align-items: start;
    margin-top: 10px;
    color: #040316;
}
/*--Registration--*/
.register{
    border: 1px solid #D9D9D9;
    margin-top: 40px;
    padding: 50px;
    background-color: white;
}
.register input[type=text]{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.credentials{
    display: flex;
    gap: 120px;
    margin-top: 10px;
} 
.register input[type=email]{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.register input[type=password]{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    width: max-content;
}
.permit{
    display: flex;
    justify-content: space-between;
    gap: 9px;
}
.upload-attachments{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.register textarea{
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 8px;
    margin-top: 10px;
}
.register-button{
    width: 70%;
    color: white;
    background-color: #040316;
    padding: 6px;
    border-radius: 8px;
    margin-top: 30px;
    align-self: center;
}

/*--Dashboard--*/
.dashboard{
    border: 1px solid #D9D9D9;
    margin-top: 40px;
    padding: 50px;
    background-color: white;
}
/* .information{
    display: flex;
    flex-direction: column;
} */
/*--Footer--*/
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid gray;
    background-color: white;
    color: #040316;
    padding-top: 15px;
}
.footer-banner{
    padding-top: 40px;
}
.footer-links{
    display: grid;
    gap: 8px;
}
.footer-links a{
    color: black;
}
.newsletter input[type = email]{
    font-size: larger;
    border: 1px solid;
}
.newsletter button{
    border-radius: 1px;
    padding: 6px;
    text-decoration: none;
    background-color: gray;
    color: #040316;
    border: none;
}
/*home page header*/
.header {
    position: relative;
    width: 100%;
    height:500px; 
    background-image:url(images/index/RR.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header p {
    font-size: 3em;
    margin-bottom: 20px;
}
/*home page button*/
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background:darkgoldenrod;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background-color:darkkhaki;
}
/*home page image*/
.right-image{
    float: right;
    width:75%;
    height: 300px;
    margin-right: 20px;
}
.mycontainer{
    display: flex;
    align-items:left;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    width: 85%;
    left:7.5%;
    position: relative;
    background-color:white;
}

.containerAbout1{
 
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    width: 85%;
    left: 7.5%;
    position: relative;
    background-color:white;
}
/*
img{
    float:right;
    width:75%;
    height: 350px;
    margin-right: 20px;
  }*/

  .text h1{
    font-size: 36px;
  }
  
  .boxAbout1 {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.box {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.box h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #333;
    text-align: left; /* Aligns the heading to the left */
}

.box p {
    font-size: 1em;
    color: #666;
    text-align: left; 
}